<div class="container_big-card">
    <div class="big-card_photo">
        <img src="https://img.elo7.com.br/product/zoom/4D779FF/painel-festa-tema-homem-de-ferro-painel-desenho.jpg" alt="imagem_nternet" srcset=""
        height="290px"
        width="480px">
    </div>
    <div class="big-card_title">
        <h1> <a href="#">Saiu a nova versão do Angular</a></h1>

    </div>
    <div class="big-card_description">
        <p>O Angular está na Versão 18 em 05/11/2024. <br> Maintained by a dedicated team at Google, Angular provides a broad suite of tools, APIs, and libraries to simplify and streamline your development workflow.

        </p>
    </div>
</div>