<div class="container_big-card">
    <div class="big-card_photo">
        <img src="https://cdn.prod.website-files.com/6320125ace536b6ad148eca3/6663074b513f643d4e8f133d_Banner-%20Angular%2018%20Features%20and%20Updates.webp" alt="imagem_nternet" srcset=""
        height="290px"
        width="480px">
    </div>
    <div class="big-card_title">
        <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card_description">
        <p>O Angular está na Versão 18 em 05/11/2024. <br> Maintained by a dedicated team at Google, Angular provides a broad suite of tools, APIs, and libraries to simplify and streamline your development workflow.

        </p>
    </div>
</div>